{
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "singleAttributePerLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
