@if ($contractTitlesState(); as contractTitlesState) {
  <app-state [state]="contractTitlesState">
    <ng-template
      appStateLoaded
      [state]="contractTitlesState"
      let-contractTitles="data"
    >
      <div>{{ contractTitles.join(', ') }}</div>
    </ng-template>
  </app-state>
}

@if ($contractsState(); as contractsState) {
  <app-state [state]="contractsState">
    <ng-template
      appStateLoaded
      [state]="contractsState"
      let-contracts="data"
    >
      <ol>
        @for (contract of contracts; track contract.id) {
          <li>{{ contract.title }}</li>
        }
      </ol>
    </ng-template>
  </app-state>
}
